app
components
node_modules
service
style
types
.dockerignore
.gitignore
docker-compose.yaml
Dockerfile
eslint.config.mjs
Makefile
next-env.d.ts
next.config.ts
postcss.config.mjs
README.md
tsconfig.json
.env